<div class='d-flex justify-content-center'>
  <div class='card' style='width: 30rem;'>
    <div class="card-body">
      <h1>Entrar</h1>
      <%= form_for :login do |f| %>
        <div class='form-group'>
          <%= f.label :email %>
          <%= f.text_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.submit 'Entrar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>