<%= form_with(model: time_tracking_log, local: true) do |form| %>
  <% if time_tracking_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_tracking_log.errors.count, "error") %> prohibited this time_tracking_log from being saved:</h2>

      <ul>
      <% time_tracking_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field d-none">
    <%= form.label :time_entry %>
    <%= form.datetime_select :time_entry %>
  </div>

  <div class="field d-none">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: @current_user.try(:id) %>
  </div>

  <div class="actions">
    <%= form.submit 'Registrar', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
