<h4>
  Últimos 7 dias
</h4>

<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th>Hora</th>
        <th>Tipo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% if @last_seven_days_time_log.present? %>
        <% @last_seven_days_time_log[:times].each_with_index do |time_tracking_log, index| %>
          <tr>
            <td><%= br_time(time_tracking_log.time_entry) %></td>
            <td><%= index.even? ? 'Entrada' : 'Saída' %></td>
            <td>
              <%= link_to time_tracking_log, method: :delete, data: { confirm: 'Você tem certeza?' } do %>
                <button class='btn btn-danger btn-sm'>Excluir</button>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan='1'></td>
          <td><b>Total:</b></td>
          <td><%= @last_seven_days_time_log[:total_sum_times] %>h</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
