<div class='d-flex justify-content-center'>
  <div class='card' style='width: 30rem;'>
    <div class='card-body'>
      <h1>Editing Time Tracking Log</h1>

      <%= render 'form', time_tracking_log: @time_tracking_log %>

      <%= link_to 'Show', @time_tracking_log %> |
      <%= link_to 'Back', time_tracking_logs_path %>
    </div>
  </div>
</div>