<h2>Registros de horas</h2>
<hr>

<%= render 'today_time_log' %>

<%= link_to new_time_tracking_log_path do %>
  <button class='btn btn-primary btn-lg btn-block'>Registrar hora</button>
<% end %>

<br>
<br>

<%= render 'last_seven_days_time_log' %>

<br>
