<div class='d-flex justify-content-center'>
  <div class='card' style='width: 30rem;'>
    <div class='card-body text-center'>
      <h1>Registrar hora</h1>
      <br>
      <%= render 'form', time_tracking_log: @time_tracking_log %>
      <br>
      <%= link_to 'Voltar', time_tracking_logs_path %>
    </div>
  </div>
</div>