<p>
  <strong>Data:</strong>
  <%= br_date(@time_tracking_log.time_entry) %>
</p>

<p>
  <strong>Hora:</strong>
  <%= br_time(@time_tracking_log.time_entry) %>
</p>

<%= link_to time_tracking_logs_path do %>
  <button class='btn btn-primary'>Voltar</button>
<% end %>
