<div class='d-flex justify-content-center'>
  <div class='card' style='width: 30rem;'>
    <div class='card-body'>
      <h1>Cadastre-se</h1>

      <%= form_for @user do |f| %>
        <div class='form-group'>
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.submit 'Cadastrar!', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

