<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TraineeTimeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light row">
        <a class="navbar-brand" href="/">TimeTracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if current_user.present? %>
              <li class="nav-item">
                <%= "Conectado como: #{current_user.try(:name)}" %>
                <span class="sr-only">(Página atual)</span>
              </li>
              <li class="nav-item">
                <%= link_to 'Home', root_path %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sair', logout_path, method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Home', root_path %>
                <span class="sr-only">(Página atual)</span>
              </li>
              <li class="nav-item">
                <%= link_to 'Entrar', login_path %>
              </li>
              <li class="nav-item">
                <%= link_to 'Criar conta', new_user_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <hr>

    <div class="container">
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
    
      <% if alert %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
